<header id="header" class="transparent-header">
	<div id="header-wrap">
		<div class="row clearfix">
		<div id="primary-menu-trigger"><i class="fa fa-2x fa-align-left"></i></div>
			<nav id="primary-menu">
				<ul>
					<li><a href="/"><div>@(Home)</div></a></li>
					<li><a href="/Blog"><div>@(Blog)</div></a></li>
					<li><a href="/About"><div>@(About)</div></a></li>
					<li><a href="/Portfolio"><div>@(Portfolio)</div></a></li>
					<li><a href="/Gallery"><div>@(Gallery)</div></a></li>
					<li><a href="@{sitemap_url('contact')}"><div>@(Contact)</div></a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
