<h4>Gallery:</h4>
<div class="masonry-thumbs col-6 clearfix" data-lightbox="gallery" style="margin-right: -1px; position: relative; height: 83.5px;">
	<a href="/img/portfolio/1/5.jpg" data-lightbox="gallery-item" style="width: 111px; position: absolute; left: 444px; top: 0px;">
		<img src="/img/portfolio/1/5.jpg" alt="Gallery Image">
		<div class="overlay"><div class="overlay-wrap"><i class="icon-line-zoom-in"></i></div></div>
	</a>
	<a href="/img/portfolio/1/5.jpg" data-lightbox="gallery-item" style="width: 111px; position: absolute; left: 444px; top: 0px;">
		<img src="/img/portfolio/1/5.jpg" alt="Gallery Image">
		<div class="overlay"><div class="overlay-wrap"><i class="icon-line-zoom-in"></i></div></div>
	</a>
	<a href="/img/portfolio/1/5.jpg" data-lightbox="gallery-item" style="width: 111px; position: absolute; left: 444px; top: 0px;">
		<img src=" /img/portfolio/1/5.jpg" alt="Gallery Image">
		<div class="overlay"><div class="overlay-wrap"><i class="icon-line-zoom-in"></i></div></div>
	</a>
	<a href="/img/portfolio/1/5.jpg" data-lightbox="gallery-item" style="width: 111px; position: absolute; left: 444px; top: 0px;">
		<img src="/img/portfolio/1/5.jpg" alt="Gallery Image">
		<div class="overlay"><div class="overlay-wrap"><i class="icon-line-zoom-in"></i></div></div>
	</a>
	<a href="/img/portfolio/1/5.jpg" data-lightbox="gallery-item" style="width: 111px; position: absolute; left: 444px; top: 0px;">
		<img src="/img/portfolio/1/5.jpg" alt="Gallery Image">
		<div class="overlay"><div class="overlay-wrap"><i class="icon-line-zoom-in"></i></div></div>
	</a>
	<a href="/img/portfolio/1/5.jpg" data-lightbox="gallery-item" style="width: 111px; position: absolute; left: 444px; top: 0px;">
		<img src="/img/portfolio/1/5.jpg" alt="Gallery Image">
		<div class="overlay"><div class="overlay-wrap"><i class="icon-line-zoom-in"></i></div></div>
	</a>
</div>
