<div class="fancy-title title-bottom-border">
	<h2>Project Info:</h2>
</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, dolores, facere, corrupti delectus ex quidem adipisci tempore.</p>
	<p>Illum molestias cupiditate eveniet dolore obcaecati voluptatibus est quos eos id recusandae officia. Cupiditate, voluptates quibusdam ipsum vel corporis laboriosam id est doloremque?</p>
	<ul class="skills">
		<li data-percent="80">
			<span>area</span>
			<div class="progress">
				<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1000"></span>%</div></div>
			</div>
		</li>
		<li data-percent="60">
			<span>area</span>
			<div class="progress">
				<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1000"></span>%</div></div>
			</div>
		</li>
		<li data-percent="90">
			<span>area</span>
			<div class="progress">
				<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1000"></span>%</div></div>
			</div>
		</li>
		<li data-percent="70">
			<span>area</span>
			<div class="progress">
				<div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1000"></span>%</div></div>
			</div>
		</li>
	</ul>
	<div class="line"></div>
	<ul class="portfolio-meta bottommargin">
		<li><span><i class="icon-user"></i>Created by:</span>name</li>
		<li><span><i class="icon-calendar3"></i>Completed on:</span>date</li>
		<li><span><i class="icon-link"></i>Client:</span> <a href="#">company</a></li>
	</ul>
