
<div class="slide" data-thumb="/img/portfolio/1/5.jpg"><a href="#"><img src="/img/portfolio/1/full/5.jpg" alt=""></a></div>
<div class="slide" data-thumb="/img/portfolio/1/5.jpg"><a href="#"><img src="/img/portfolio/1/full/5.jpg" alt=""></a></div>
<div class="slide" data-thumb="/img/portfolio/1/5.jpg"><a href="#"><img src="/img/portfolio/1/full/5.jpg" alt=""></a></div>
<div class="slide" data-thumb="/img/portfolio/1/5.jpg"><a href="#"><img src="/img/portfolio/1/full/5.jpg" alt=""></a></div>
<div class="slide" data-thumb="/img/portfolio/1/5.jpg"><a href="#"><img src="/img/portfolio/1/full/5.jpg" alt=""></a></div>
<div class="slide" data-thumb="/img/portfolio/1/5.jpg"><a href="#"><img src="/img/portfolio/1/full/5.jpg" alt=""></a></div>
<div class="slide" data-thumb="/img/portfolio/1/5.jpg"><a href="#"><img src="/img/portfolio/1/full/5.jpg" alt=""></a></div>